@import '../../../theme/theme.less';

.gradient {
  background: linear-gradient(96.26deg, @primary-blue-1 13.8%, @primary-pink-1 82.83%);;
}

.outlined {
  background: rgba(0,0,0,0);
  border-color: #4388DD
}

// Link Button Theme
.link:hover > span {
  text-decoration: underline;
}

// this isn't working here, but it works in the ~/src/App.css file
// .ant-btn-link > span {
//   text-decoration: underline;
// }


// try overriding antd variables here...
  // @btn-text-hover-bg: rgba(67, 136, 221, 0.1)
  // @btn-text-hover-bg: rgb(244, 0, 0)